:root{ 
  --data-color-primary: #ffcc00; 
  --data-color-secondary: #4b4b4b; 
}

#root {
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(49% 81% at 45% 47%, #D1D1D145 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #CCC9C0FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #E6DFC8FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #B8B39DFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #969696FF 0%, #000000FF 100%);
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", serif;
  text-shadow: rgba($color: #000, $alpha: 0.1) 0 0 20px;
}

body {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  }

  code {
    font-family: "Nunito", serif;
  }
  main {
    @include flexBox(column);
    width: 100%;
    max-width: 1240px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  footer {
    @include flexBox(column);
    padding-top: 40px;
    color: $PrimColor;
  }
  
  li {
    list-style: none;
  }
  
  .sr-only {
    border: 0;
    height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
  }