.App-pageerror-error {
    color: $PrimColor;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }
  
.App-pageerror-errortext{
    color: $PrimColor;
    padding-bottom: 40px;
}

.App-pageerror-container {
    height: 60vh;
    @include flexBox(column, normal, center)
}

.App-pageerror-link{
    color: $PrimColor;
}